* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/Images/city-light.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    font-family: cursive, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

/* title */
#title {
    display: inline;
    background: url(https://i.imgur.com/Bhv65cn.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moveBG 10s linear infinite;
    -webkit-animation: moveBG 10s linear infinite;
    margin: 0;
    padding: 10px;
}

/* description */
#description {
    font-size: 1.1rem;
}

#description:hover {
    background: url(https://i.imgur.com/Bhv65cn.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moveBG 10s linear infinite;
    -webkit-animation: moveBG 10s linear infinite;
}

/* key frame */

@keyframes moveBG {
    0% {
        background-position: 0% 30%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* form */

#survey-form {
    width: 50%;
    height: 100%;
    background-color: rgba(27, 27, 50, 0.8);
}

#field input {
    width: 70%;
    height: 30px;
}

#number {
    width: 20%;
    height: 20px;
}

select {
    font-size: 100%;
    font-weight: bold;
    background-color: orangered;
    color: cornsilk;
    border-radius: 10px;    
}

#check-boxes input {
    width: 15px;
    height: 15px;
}

#ratio-btn input {
    width: 19px;
    height: 19px;
}

#ratio-btn {
    padding: 10px;
}


button {
    font-size: 100%;
    font-weight: bold;
    background-color: orangered;
    color: cornsilk;
    border-radius: 10px;
}

button:hover {
    color: rgb(61, 228, 31);
}

@media (max-width: 768px) {
    body {
        margin: 0;
        font-size: 1rem;
    }
    #survey-form {
      width: 80%;
      height: 100%;
    }

    #ratio-btn input {
        width: 17px;
        height: 17px;
    }
}

@media (max-width: 576px) {
    body {
        margin: 0;
        font-size: 1rem;
    }
    #description {
        font-size: 1rem;
    }
    #survey-form {
      width: 100%;
      height: 100%;
    }

    #ratio-btn input {
        width: 15px;
        height: 15px;
    }
}
